:root {
	--0: #fff;
	--800: #313131;
	--900: #1f1f1f;
	--yellow: #fbce51;
	--trn: 275ms;
}

.container {
	max-width: 1262px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

.header {
	width: 100%;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	padding: 26px 0;
}

h1 {
	line-height: 110%;
	font-size: 60px;
	color: var(--800);
	font-weight: 400;
}

h2 {
	line-height: 135%;
	font-size: 36px;
	color: var(--800);
	font-weight: 400;
}

h2 span.red {
	color: #F54932;
	font-weight: 700;
}

.welcome {
	padding: 124px 0 130px;
	background-color: #E9DED4;
	position: relative;
	overflow: hidden;
}
.welcome__container {
	max-width: 1263px;
	position: relative;
	z-index: 8;
}
.welcome__subtext {
	font-size: 18px;
	line-height: 130%;
	font-family: 'Golos Text';
	color: var(--800);
	margin: 24px 0 0 30px;
	text-indent: 25px;
}
.welcome__actions {
	margin: 39px 0 0 0;
	display: flex;
	gap: 16px;
}
.welcome__background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	background: url("../img/welcomeScreen/backgroundTexture.png") no-repeat center/cover;
	mix-blend-mode: color-burn;
}

.welcome-illustration__city {
	position: absolute;
	right: calc(-141px + (134 + 141) * ((100vw - 1366px) / (1920 - 1366)));
	bottom: 1px;
	z-index: 4;
}
.welcome-illustration__chess {
	position: absolute;
	z-index: 6;
}
.welcome-illustration__chess-1 {
	bottom: 20px;
	right: calc(45px + (320 - 45) * ((100vw - 1366px) / (1920 - 1366)));
}
.welcome-illustration__chess-2 {
	rotate: -10.59deg;
	bottom: -39px;
	right: calc(354px + (630 - 354) * ((100vw - 1366px) / (1920 - 1366)));
}
.welcome-illustration__chess-3 {
	rotate: -5.99deg;
	bottom: 170px;
	right: calc(519px + (794 - 519) * ((100vw - 1366px) / (1920 - 1366)));
	z-index: 2;
}
.welcome-illustration__chess-4 {
	rotate: 7.59deg;
	bottom: 276px;
	right: calc(175px + (450 - 175) * ((100vw - 1366px) / (1920 - 1366)));
	z-index: 2;
}
.welcome__circle {
	width: 660px;
	height: 660px;
	border-radius: 330px;
	background-color: #FBCE51;
	position: absolute;
	right: calc(34px + (308 - 34) * ((100vw - 1366px) / (1920 - 1366)));
	top: -46px;
	z-index: 0;
}
.welcome__circle-text {
	z-index: 1;
	position: absolute;
	right: calc(47px + (321 - 47) * ((100vw - 1366px) / (1920 - 1366)));
	top: -31px;
	rotate: 15deg;
	mix-blend-mode: overlay;
	animation: textRotate 20s linear infinite;
}

@keyframes textRotate {
	to {
		rotate: -360deg;
	}
}

.indent {
	display: inline-block;
}
.indent_1 {
	text-indent: 34.5px;
}
.indent_2 {
	text-indent: 91px;
}

.button {
	width: 263px;
	height: 72px;
	border-radius: 36px;
	font-size: 16px;
	font-weight: 500;
	line-height: 130%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Golos Text';
	padding: 0 20px;
	transition: var(--trn);
	border: 2px solid transparent;
}
.button_primary {
	background-color: var(--900);
	color: var(--0);
}
.button_primary:hover {
	background-color: var(--yellow);
	color: var(--900);
}
.button_secondary {
	border-color: var(--900);
	color: var(--900);
	background-color: transparent;
}
.button_secondary:hover {
	background-color: var(--900);
	color: var(--0);
}

.marquee {
	width: 100%;
	overflow-x: hidden;
	height: 60px;
	background-color: #F54932;
	text-transform: uppercase;
	font-size: 22px;
	line-height: 60px;
	color: var(--0);
	position: relative;
	z-index: 1;
	margin-top: -1px;
}

.marquee__inner {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 12px;
	animation: marquee 15s linear infinite;
}

.marquee__delimiter {
	flex: 0 0 6px;
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background-color: var(--0);
}

.marquee__inner > * {
	white-space: nowrap;
}

@keyframes marquee {
	0% {
		translate: -10% 0;
	}
	100% {
		translate: -132% 0;
	}
}

.support {
	padding: 82px 0 0;
}
.support__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.support__text-container {
	max-width: 764px;
}
.support__text-container img {
	display: none;
}
.support h2 {
	display: inline;
}

.details {
	padding: 64px 0 0 0;
}
.details__container {
	display: flex;
	align-items: flex-start;
	gap: 44px;
}
.details__content {
	width: 100%;
}
.details-illustration {
	position: relative;
	padding: 39.3px 46.09px 50.2px 22.35px;
}
.details-illustration__item {
	position: absolute;
	z-index: 2;
}
.details-illustration__banknote {
	top: 22.92px;
	right: 0;
}
.details-illustration__human {
	left: -27.5px;
	top: -27.81px;
}
.details-illustration__arm {
	right: 50.19px;
	bottom: -67.65px;
	rotate: 39.89deg;
}
.details-illustration__chess {
	bottom: 0;
	left: -15.6px;
}
.details__description {
	margin: 48px 0 0 0;
}

.description {
	font-family: 'Golos Text';
	font-size: 20px;
	line-height: 120%;
	color: #3057A2;
}

span.break br {
	display: none;
}

table {
	border-collapse: collapse;
	margin: 60px 0 0 0;
	width: 100%;
}
table td, table th {
	border: 2px solid #d0d0d0;
	line-height: 120%;
	font-size: 20px;
	color: var(--800);
	font-family: 'Golos Text';
}
table th {
	font-weight: 400;
	opacity: 0.7;
	text-align: left;
	border-left: 0;
	padding: 14px 20.5px 16px 0;
	width: 306px;
}
table td {
	border-right: 0;
	font-weight: 600;
	padding: 14px 0 16px 15px;
	white-space: pre;
}
table tr:first-child td, table tr:first-child th {
	border-top: 0;
	padding-top: 0;
}
table tr:last-child td, table tr:last-child th {
	border-bottom: 0;
	padding-bottom: 0;
}
.line-though {
	position: relative;
}
.line-though::before {
	content: '';
	width: calc(100% + 1px);
	position: absolute;
	left: -0.5px;
	bottom: 8.5px;
	border-radius: 1px;
	height: 2px;
	width: 100%;
	background-color: #F54932;
}

.heading {
	font-size: 54px;
	line-height: 120%;
	color: var(--800);
}

.steps {
	padding: 200px 0 0 0;
}
.steps__container {
	position: relative;
}
.steps__heading {
	display: inline;
}
.steps__subtitle {
	font-family: 'Golos Text';
	font-size: 20px;
	line-height: 120%;
	color: #3057A2;
	display: inline-block;
	margin: 0 0 0 16px;
}
.steps__airoplane {
	position: absolute;
	right: -31.5px;
	bottom: 45.34px;
	rotate: -15.31deg;
	z-index: 2;
}
.steps-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	gap: 20px;
	padding: 54px 0 0 0;
}
.steps-grid__item {
	background: url("../img/details/paper.png") no-repeat center/cover;
	padding: 20px;
	display: flex;
	gap: 16px;
	position: relative;
}
.steps-grid__item::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../img/details/texture.png") no-repeat center/cover;
	mix-blend-mode: color-burn;
}
.steps-grid__num {
	flex: 0 0 36px;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	line-height: 120%;
	background-color: var(--0);
	font-family: 'Golos Text';
	font-size: 20px;
	font-weight: 600;
	color: var(--800);
	padding: 4px 0 0 12px;
	position: relative;
	z-index: 1;
}
.steps-grid__text {
	font-family: 'Golos Text';
	font-size: 20px;
	font-weight: 500;
	line-height: 120%;
	color: var(--800);
	position: relative;
	z-index: 1;
}
.steps-grid__item_3 {
	grid-row: span 2;
}
.steps-grid__item_7 {
	grid-column: span 2;
}

.members {
	padding: 200px 0 141px 0;
	position: relative;
}
.members__slider {
	padding: 60px 0 0 0;
}
.members-slide {
	padding: 0 37px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.members-slide__name {
	font-weight: 600;
	font-family: 'Golos Text';
	font-size: 24px;
	line-height: 120%;
	color: var(--800);
	margin: 28px 0 0 0;
}
.members-slide__text {
	margin: 6px 0 0 0;
	font-family: 'Golos Text';
	font-size: 20px;
	line-height: 120%;
	color: var(--800);
	opacity: 0.6;
}
.members-slide__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 113px;
	height: 35px;
	margin: 20px 0 0 0;
	border-radius: 18px;
	border: 1px solid #3057A2;
	padding: 11px;
	font-weight: 500;
	font-size: 16px;
	line-height: 11px;
	font-family: 'Golos Text';
	color: #3057A2;
}
.members-slide__button {
	position: absolute;
	top: 9px;
	right: 0;
	transform: translate(0, 0);
	margin: 0;
	width: 44px;
	height: 44px;
	border-radius: 22px;
	background-color: var(--800);
}
.swiper-button-next {
	padding-top: 2px;
	padding-left: 5px;
}
.swiper-button-prev {
	left: auto;
	right: 107px;
}
.swiper-pagination {
	position: absolute;
	top: 9px;
	right: 44px;
	left: auto;
	width: 63px;
	height: 44px;
	color: var(--800);
	font-size: 16px;
	display: flex;
	gap: 3px;
	justify-content: center;
	align-items: center;
	font-family: 'Golos Text';
}
.swiper-pagination > * {
	opacity: 0.6;
}
.swiper-pagination-current {
	opacity: 1;
}
.members-slide__button::after {
	color: var(--0);
	font-size: 20px;
}
.members__slider .swiper {
	padding: 124.8px 0 2px 0;
	margin: -124.8px 0 -2px 0;
}

.footer {
	padding: 41px 0 72px;
	background-color: #E9DED4;
	color: var(--800);
	font-size: 16px;
	font-family: 'Golos Text';
	line-height: 115%;
}

.steps__slider {
	display: none;
}
.steps__slider .swiper {
	padding: 148px 0 64px;
}
.steps-slide {
	height: 300px;
	background: url("../img/details/paper.png") no-repeat center/cover;
	padding: 62px 20px 0 20px;
	display: flex;
	flex-direction: column;
	gap: 28px;
}
.steps-slide__block {
	display: flex;
	align-items: flex-start;
	gap: 16px;
}
.steps-slide .steps-grid__text {
	font-size: 18px;
	line-height: 123%;
}
.steps-slide::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../img/details/texture.png") no-repeat center/cover;
	mix-blend-mode: color-burn;
}
.steps__slider .swiper-pagination {
	gap: 6px;
	height: 10px;
	right: 0;
	top: auto;
	bottom: 13px;
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0;
	width: 10px;
	height: 10px;
	background-color: #D9D9D9;
	transition: 350ms;
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: var(--800);
}
.steps__slider .swiper-pagination > * {
	opacity: 1;
}
.steps__slider .members-slide__button {
	top: auto;
	width: 36px;
	height: 36px;
	bottom: 0;
	transition: 350ms;
}
.steps__slider .members-slide__button::after {
	font-size: 15px;
}
.steps__slider .swiper-button-prev {
	left: 78px;
	right: auto;
	padding-top: 0;
	padding-left: 0;
}
.steps__slider .swiper-button-next {
	right: 78px;
	padding-top: 0;
	padding-left: 2px;
}

.element-animation-slide-top {
	translate: 0 -40px;
}
.element-animation-slide-left {
	translate: -50px 0;
}
.element-animation-slide-bottom {
	translate: 0 50px;
}
.element-animation-slide-scale {
	scale: 0.85;
}
span.element-animation {
	display: inline-block;
}
.element-animation {
	opacity: 0;
	visibility: hidden;
	transition: 450ms;
	transition-delay: var(--d);
}
.element-show {
	opacity: 1;
	visibility: visible;
	translate: 0;
	scale: 1;
}

@media (max-width: 1366px) {
	.header {
		padding: calc(18px + 6 * ((100vw - 375px) / (1366 - 375))) 0;
	}
	.header__logo img {
		width: calc(213px + (246 - 213) * ((100vw - 375px) / (1366 - 375)));
	}
	h1 {
		font-size: calc(36px + 24 * ((100vw - 375px) / (1366 - 375)));
	}
	.welcome {
		padding: calc(91px + (124 - 91) * ((100vw - 375px) / (1366 - 375))) 0 calc(291px + (130 - 291) * ((100vw - 375px) / (1366 - 375)));
	}
	.indent_1 {
		text-indent: calc(30px + (34.5 - 30) * ((100vw - 375px) / (1366 - 375)));
	}
	.indent_2 {
		text-indent: calc(63px + (91 - 63) * ((100vw - 375px) / (1366 - 375)));
	}
	.welcome-illustration__city {
		width: calc(887.44px + (1628 - 887.44) * ((100vw - 375px) / (1366 - 375)));
		right: calc(-109px + (-141 + 109) * ((100vw - 375px) / (1366 - 375)));
	}
	.welcome__circle {
		width: calc(297.47px + (660 - 297.47) * ((100vw - 375px) / (1366 - 375)));
		height: calc(297.47px + (660 - 297.47) * ((100vw - 375px) / (1366 - 375)));
		right: calc(47.49px + (34 - 47.49) * ((100vw - 375px) / (1366 - 375)));
		top: calc(409.84px + (-46 - 409.84) * ((100vw - 375px) / (1366 - 375)));
	}
	.welcome__circle-text {
		width: calc(285.76px + (635 - 285.76) * ((100vw - 375px) / (1366 - 375)));
		height: calc(285.76px + (635 - 285.76) * ((100vw - 375px) / (1366 - 375)));
		right: calc(53.34px + (47 - 53.34) * ((100vw - 375px) / (1366 - 375)));
		top: calc(415.7px + (-31 - 415.7) * ((100vw - 375px) / (1366 - 375)));
	}
	.welcome-illustration__chess-2 {
		width: calc(76.71px + (156 - 76.71) * ((100vw - 375px) / (1366 - 375)));
		bottom: calc(-13px + (-39 + 13) * ((100vw - 375px) / (1366 - 375)));
		right: calc(142px + (354 - 142) * ((100vw - 375px) / (1366 - 375)));
	}
	.welcome-illustration__chess-3 {
		width: calc(47.44px + (105 - 47.44) * ((100vw - 375px) / (1366 - 375)));
		bottom: calc(116px + (170 - 116) * ((100vw - 375px) / (1366 - 375)));
		right: calc(259px + (519 - 259) * ((100vw - 375px) / (1366 - 375)));
	}
	.welcome-illustration__chess-4 {
		width: calc(46.98px + (115 - 46.98) * ((100vw - 375px) / (1366 - 375)));
		bottom: calc(169px + (276 - 169) * ((100vw - 375px) / (1366 - 375)));
		right: calc(93px + (175 - 93) * ((100vw - 375px) / (1366 - 375)));
	}
	.marquee {
		height: calc(38px + 22 * ((100vw - 375px) / (1366 - 375)));
		line-height: calc(38px + 22 * ((100vw - 375px) / (1366 - 375)));
		font-size: calc(16px + 6 * ((100vw - 375px) / (1366 - 375)));
	}
	h2 {
		font-size: calc(28px + 8 * ((100vw - 375px) / (1366 - 375)));
	}
	.support {
		padding: calc(48px + (82 - 48) * ((100vw - 375px) /(1366 - 375))) 0 0 0;
	}
	.support img {
		width: calc(335px + (394 - 335) * ((100vw - 375px) / (1366 - 375)));
	}
	.details-illustration__paper {
		width: calc(286.63px + (406 - 286.63) * ((100vw - 375px) / (1366 - 375)));
	}
	.details-illustration__banknote {
		width: calc(85.95px + (122 - 85.95) * ((100vw - 375px) / (1366 - 375)));
		top: calc(36.2px + (22.92 - 36.2) * ((100vw - 375px) / (1366 - 375)));
	}
	.details-illustration__human {
		width: calc(373.86px + (530 - 373.86) * ((100vw - 375px) / (1366 - 375)));
	}
	.details-illustration__arm {
		width: calc(123.2px + (175 - 123.2) * ((100vw - 375px) / (1366 - 375)));
	}
	.details-illustration__chess {
		width: calc(175.52px + (249 - 175.52) * ((100vw - 375px) / (1366 - 375)));
	}
	.heading {
		font-size: calc(36px + (54 - 36) * ((100vw - 375px) / (1366 - 375)));
	}
	.steps {
		padding: calc(121px + 79 * ((100vw - 375px) / (1366 - 375))) 0 0 0;
	}
	.steps__subtitle {
		font-size: calc(18px + 2 * ((100vw - 375px) / (1366 - 375)));
	}
	.members__slider {
		padding: calc(15px + 45 * ((100vw - 375px) / (1366 - 375))) 0 0 0;
	}
	.members-slide {
		padding: calc(24px + 13 * ((100vw - 375px) / (1366 - 375))) 0;
	}
	.members-slide img {
		width: calc(244px + (320 - 244) * ((100vw - 375px) / (1366 - 375)));
	}
	.members {
		padding: calc(119px + 81 * ((100vw - 375px) / (1366 - 375))) 0 141px 0;
	}
	.members__slider .swiper {
		padding: calc(84.8px + (124.8 - 84.8) * ((100vw - 375px) / (1366 - 375))) 0 0 0;
		margin: calc(-84.8px + (-124.8 + 84.8) * ((100vw - 375px) / (1366 - 375))) 0 0 0;
	}
}
@media (max-width: 768px) {
	.footer {
		line-height: 120%;
	}
	.members__slider .swiper-button-prev {
		right: auto;
		left: 102px;
	}
	.members__slider .swiper-button-next {
		right: 104px;
	}
	.members-slide__button {
		width: 36px;
		height: 36px;
		bottom: 100px;
		top: auto;
	}
	.members-slide__button::after {
		font-size: 15px;
	}
	.members {
		padding-bottom: 0;
	}
	.members__slider .swiper {
		padding-bottom: 152px;
	}
	.members__slider .swiper-pagination {
		top: auto;
		right: 50%;
		translate: 50% 0;
		bottom: 97px;
		gap: 2px;
	}
	.members-slide__name {
		margin: 29px 0 0 0;
	}
	.members-slide__text {
		margin: 7px 0 0 0;
	}
	.heading {
		line-height: 114%;
	}
	.welcome__subtext {
		margin: 24px 0 0 0;
		text-indent: 0;
	}
	.welcome-illustration__chess-4 {
		rotate: 15deg;
	}
	.welcome__subtext br {
		display: none;
	}
	.welcome__actions {
		margin: 32px 0 0 0;
		flex-direction: column;
		gap: 14px;
	}
	.details-illustration {
		padding: 47.78px 32.57px 45.02px 15.79px;
	}
	.button {
		max-width: 335px;
		width: 100%;
		height: auto;
		padding: 16px 0 16px 0;
		line-height: 11px;
	}
	.details {
		padding: 34.34px 0 0 0;
	}
	.button br {
		display: none;
	}
	.button_secondary {
		background-color: rgba(255, 255, 255, 0.9);
		border-color: transparent;
	}
	.welcome-illustration__chess-1 {
		display: none;
	}
	h2 br {
		display: none;
	}
	.details-illustration__human {
		left: -19.43px;
		top: -0.34px;
	}
	.details-illustration__arm {
		right: 35.47px;
		bottom: -38.27px;
	}
	.details-illustration__chess {
		bottom: 9.54px;
		left: -11.02px;
	}
	table tr {
		display: flex;
		flex-direction: column;
		border-bottom: 2px solid #d0d0d0;
		padding: 15px 0;
	}
	table tr:first-child {
		padding: 0 0 15px;
	}
	table tr:last-child {
		border: 0;
		padding: 15px 0 0;
	}
	table th {
		width: auto;
	}
	table td, table th {
		border: 0;
		padding: 0;
	}
	table td {
		margin-top: 12px;
	}
	table tr.row {
		flex-direction: row;
		gap: 12px;
	}
	table tr.row td {
		margin-top: 0;
	}
	.description {
		font-size: 18px;
	}
	.details__description {
		margin: 41px 0 0 0;
	}
}
@media (max-width: 996px) {
	.steps__airoplane {
		bottom: auto;
		top: 229.45px;
		left: 40.23px;
		width: 317.2px;
		rotate: -18.73deg;
	}
	.steps__slider {
		display: block;
	}
	.steps-grid {
		display: none;
	}
	.steps__subtitle {
		margin: 13px 0 0 0;
	}
	.steps__subtitle br {
		display: none;
	}
	.steps__heading {
		display: block;
		line-height: 110%;
	}
	.support__container > img {
		display: none;
	}
	.support__text-container img {
		display: block;
		margin: 24px 0 24.44px 0;
	}
	.support h2 {
		line-height: 136%;
	}
	.details__container {
		flex-direction: column;
		gap: 24px;
	}
	table { 
		margin: 45px 0 0 0;
	}
	span.break br {
		display: block;
	}
}